{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"singleQuote": false,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"useTabs": false
			}
		}
	]
}
