name: Github Release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: ./.github/workflows/lint.yml
  create-release:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: '20'
      - run: npm ci
      - run: npm run build
      - run: npm pack
      - id: get_version
        uses: battila7/get-version-action@v2
      - name: Get Changelog Entry
        id: changelog_reader
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ steps.get_version.outputs.version }}
      - uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.changelog_reader.outputs.changes }}
          tag_name: ${{ steps.get_version.outputs.version }}
          files: webextension-toolbox-webextension-toolbox-${{ steps.get_version.outputs.version }}.tgz
